{% extends "views/components/cards/default.htm" %}
{% load i18n %}

{% block form_widgets %}
<form class="widgets" style="margin-bottom: 20px;">
    <div data-bind="foreach: {
            data:card.widgets, as: 'widget'
        }">
        <!--ko ifnot: _.values(self.calculatedNodes).includes(widget.node_id()) -->
        <div data-bind='component: {
            name: self.form.widgetLookup[widget.widget_id()].name,
            params: {
                widget: widget,
                formData: self.tile.formData,
                tile: self.tile,
                form: self.form,
                config: widget.configJSON,
                label: widget.label(),
                value: self.tile.data[widget.node_id()],
                node: self.form.nodeLookup[widget.node_id()],
                expanded: self.expanded,
                graph: self.form.graph,
                type: "resource-editor",
                disabled: !self.card.isWritable && !self.preview
            }
                }, css:{ "active": widget.selected, "hover": widget.hovered, "widget-preview": self.preview
            }, click: function(data, e) { if (!widget.selected() && self.preview) {widget.selected(true);}
        }, event: { mouseover: function(){ if (self.preview){widget.hovered(true) } }, mouseout: function(){ if (self.preview){widget.hovered(null)} } }, visible: widget.visible'></div>
        <!--/ko-->
            <!--ko if: $parent.mitigations(self.tile) > 0 -->

            <!--ko if: widget.node_id() === "70883880-526e-11e9-83b1-acde48001122" -->
            <div>
                <span class='control-label widget-input-label' data-bind="text: widget.get('label')">All Mitigations:</span>
                <span data-bind="text: $parent.mitigations(self.tile)"></span>
            </div>
            <!--/ko-->
            <!--ko if: widget.node_id() === "aec5620a-526e-11e9-b901-acde48001122" -->
            <div>
                <span class='control-label widget-input-label' data-bind="text: widget.get('label')">Pending Mitigations:</span>
                <span data-bind="text: $parent.mitigationsPending(self.tile)"></span>
            </div>
            <!--/ko-->
            <!--ko if: widget.node_id() === "9ca7deb8-526e-11e9-a046-acde48001122" -->
            <div>
                <span class='control-label widget-input-label' data-bind="text: widget.get('label')">Complete Mitigations:</span>
                <span data-bind="text: $parent.mitigationsComplete(self.tile)"></span>
            </div>
            <!--/ko-->
            <!--ko if: widget.node_id() === "ce7c5fe8-526e-11e9-8d3e-acde48001122" -->
            <div>
                <span class='control-label widget-input-label' data-bind="text: widget.get('label')">Mitigation Completion Date:</span>
                <span data-bind="text: $parent.mitigationsCompletionDate(self.tile)"></span>
            </div>
            <!--/ko-->

            <!--/ko-->
            <!--ko if: $parent.mitigations(self.tile) === 0 && widget.node_id() === "70883880-526e-11e9-83b1-acde48001122" -->
            <div>
                <span class='control-label widget-input-label'>Mitigations: No mitigations yet applied to this sub-project</span>
            </div>
            <!--/ko-->
    </div>
</form>
{% endblock form_widgets %}


{% block report_widgets %}
<!-- ko if: card.model.get('widgets')().length > 0 -->
    <div class="rp-report-tile" data-bind="attr: { id: tile.tileid }">
        <!-- ko if: ko.unwrap(tile.provisionaledits) !== null && tile.userisreviewer === false -->
        <div class="report-card-provisional-flag">{% trans 'These data are provisional and pending review' %}</div>
        <!-- /ko-->
        <dl class="dl-horizontal" data-bind="css: {'provisional': ko.unwrap(tile.provisionaledits) !== null && tile.userisreviewer === false}">
            <!-- ko foreach: { data: card.model.get('widgets'), as: 'widget' } -->
                <!-- ko if: widget.visible -->
                <!-- ko if: self.mitigations(tile) > 0 -->
                <!--ko if: widget.node_id() === "70883880-526e-11e9-83b1-acde48001122" -->
                <div>
                    <dt data-bind='text: widget.get("label")'></dt>
                    <dd data-bind="text: self.mitigations(tile)"></dd>
                </div>
                <!--/ko-->
                <!--ko if: widget.node_id() === "aec5620a-526e-11e9-b901-acde48001122" -->
                <div>
                    <dt data-bind='text: widget.get("label")'></dt>
                    <dd data-bind="text: self.mitigationsPending(tile)"></dd>
                </div>
                <!--/ko-->
                <!--ko if: widget.node_id() === "9ca7deb8-526e-11e9-a046-acde48001122" -->
                <div>
                    <dt data-bind='text: widget.get("label")'></dt>
                    <dd data-bind="text: self.mitigationsComplete(tile)"></dd>
                </div>
                <!--/ko-->
                <!--ko if: widget.node_id() === "ce7c5fe8-526e-11e9-8d3e-acde48001122" -->
                <div>
                    <dt data-bind='text: widget.get("label")'></dt>
                    <dd data-bind="text: self.mitigationsCompletionDate(tile)"></dd>
                </div>
                <!--/ko-->
                <!--/ko-->
                <!-- ko if: self.mitigations(tile) === 0 && widget.node_id() === "70883880-526e-11e9-83b1-acde48001122"-->
                <div>
                    <dt>Mitigations</dt>
                    <dd>No mitigations yet applied</dd>
                </div>
                <!--/ko-->

                <!--ko ifnot: _.values(self.calculatedNodes).includes(widget.node_id()) -->
                <!-- ko component: {
                    name: widget.widgetLookup[widget.get("widget_id")()].name,
                    params: {
                        config: configJSON,
                        label: widget.get("label")(),
                        node: widget.node,
                        value: tile.data[widget.node.nodeid],
                        state: "report"
                    }
                } -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->
        </dl>
    </div>
<!-- /ko -->
{% endblock report_widgets %}
